require('typeface-comfortaa')
require('typeface-libre-barcode-39-extended-text')
require('typeface-nova-square')

$body-font-family = 'Comfortaa', 'Nova Square', Arial, Helvetica, sans-serif;
$heading-font-family = 'Nova Square', Arial, Helvetica, sans-serif;
